.way-of-thinking {
    height: 100vh;

    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

.way-of-thinking__image {
    width: 200px;
    height: 300px;
}

.way-of-thinking__content {
    width: 50%;

    @media screen and (max-width: 800px) {
        width: 80%;
    }
}

.way-of-thinking__content--motto-jp {
    font-size: 4rem;

    @media screen and (max-width: 800px) {
        font-size: 3rem;

    }
}


.profile-section {
    height: 100vh;
}

.profile-section__headline {
    width: 80%;
    margin: 20px auto;
    display: block;
    padding: 0;
    font-size: 2rem;
}

.profile-content-list {
    list-style: none;
    width: 80%;
    margin: auto;

    & li {
        display: block;
        width: fit-content;
        height: fit-content;
        margin: 50px 0;
    }
}

.profile-content-list__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.profile-content-list__content--headline {
    display: block;
    width: 150px;
}

.profile-content-list__content--paragraph {}