/* #region 共通部分 */
/*#region 全体*/
body {
    margin: 0;
    padding: 0;
}

a,
button {
    -webkit-tap-highlight-color: transparent;
    outline: 2px solid transparent;
    outline-offset: 2px;

    &:focus-visible {
        outline-color: #719eff;
    }
}

a,
p,
h1,
h2,
h3 {
    font-family: "Noto Sans JP";
}

/*#endregion */

/* #region ヘッダー */
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: transparent;
    transition: all 0.2s;
    height: 60px;
    z-index: 9999;
}

.header_change {
    background-color: #fff;

    & .header__top-link {
        color: #719eff;

        &:focus-visible {
            outline-color: #719eff;
        }
    }

}

.header__top-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    transition: all 0.2s;

    &:focus-visible {
        outline-color: #ffffff;
    }

    &:hover {
        opacity: 0.5;
    }
}

.header__navigation {
    list-style: none;
    transition: all 0.2s;
    width: 40%;
    z-index: 9998;

    & ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    @media screen and (max-width: 1000px) {
        width: 100%;
        height: 100vh;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        justify-content: space-around;

        &.open {
            visibility: visible;
            opacity: 1;

            body {
                overflow: hidden;
            }
        }

        & ul {
            flex-direction: column;
            height: 50%;

            & .header__navigation--link {
                font-size: 1.5rem;
            }
        }
    }
}

.header__navigation--link {
    text-decoration: none;
    position: relative;
    color: #353535;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        right: 0;
        height: 2px;
        background-color: #353535;
        transition: all 0.2s;
    }

    &:hover {
        &::before {
            width: 100%;
            left: 0;
        }
    }
}

.header__navigation--search_open_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        right: 0;
        height: 2px;
        background-color: #353535;
        transition: all 0.2s;
    }

    &:hover {
        &::before {
            width: 100%;
            left: 0;
        }
    }
}

.hamburger-menu {
    @media screen and (min-width: 999px) {
        display: none;
    }

    color: var(--main-color);
    cursor: pointer;
    font-size: 30px;
    border: none;
    background-color: transparent;
    transition: all 0.2s;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-top: 2px;
    position: relative;
    border-radius: 50px;
    z-index: 9999;
    background-color: #ffffff;
    -webkit-tap-highlight-color: transparent;

    &.scroll-action {
        background-color: #719eff;

        & span {
            background-color: #fff;
        }
    }

    & span {
        content: '';
        height: 2px;
        background: #719eff;
        position: absolute;
        width: 50%;
        right: 12px;
        transition: all 0.3s;

        &:nth-child(1) {
            top: 15px;
        }

        &:nth-child(2) {
            top: 25px;
        }

        &:nth-child(3) {
            top: 35px;
        }
    }

    &.active {
        & span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 25px;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 25px;
            }
        }
    }
}

/* #endregion */
/* #region フッター */
.footer {
    height: fit-content;
    background-color: #263556;
}

.footer__content_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__content_section--site_title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer__content_section--link_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    z-index: 0;
}

.footer-link {
    text-decoration: none;
    color: #719eff;
    position: relative;

    &::before {
        content: '';
        height: 1px;
        width: 100%;
        background-color: #719eff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;
    }

    &:hover {
        &::before {
            opacity: 1;
            visibility: visible;
        }
    }
}

.footer__copyright_section {
    background-color: #5070b7;
    height: 30px;
    text-align: center;
    color: #fff;
}

/* #endregion */
/* #endregion */
/* #region ホーム以外のページの共通部分 */
.common-page-title {
    background-color: #719eff;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-page-title__headline {
    color: #fff;
    font-size: 2rem;
}

/* #endregion */