.key-visual {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #719eff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.key-visual__name {
    color: #faf9f9;
    font-size: 1.5rem;
    text-align: center;
}

.key-visual__motto {
    color: #faf9f9;
    font-size: 3rem;
    text-align: center;
}

.home-about {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 800px) {
        width: 90%;
    }
}

.home-about__content {
    width: 50%;
}

.home-about__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    background-color: #719eff;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all 0.2s;

    &:hover {
        background-color: #fff;
        color: #719eff;
        border-color: #719eff;

        & md-icon {
            transform: translateX(10px);
        }
    }

    &:active {
        background-color: #719eff33;
    }

    & md-icon {
        font-size: 1.1rem;
        transition: all 0.2s;
    }
}

.home-about__content--title {
    font-size: 2rem;
    text-align: center;
}

.home-about__motto-jp {
    font-size: 5rem;

    @media screen and (max-width: 800px) {
        font-size: 3rem;
    }
}

.home-news {
    height: 100vh;
}

.home-news__title {
    width: 80%;
    margin: 20px auto;
    display: block;
    padding: 0;
    font-size: 2rem;
}

.home-news__list {
    list-style: none;
    width: 80%;
    display: block;
    height: auto;
    margin: auto;

    & li {
        display: block;
        width: 100%;
        margin: auto;
    }
}

.article-list {
    width: 80%;
    display: block;
    margin: 30px auto;
    padding: 0;
    list-style: none;

}

.article-list__li {
    padding: 30px 0;
    border-bottom: 2px solid #35353510;
}

.article {
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    position: relative;

    &:hover {
        background-color: #35353510;

        & .article__guide {
            transform: translateX(10px);
        }
    }
}

.article__guide {
    transition: all 0.2s;
    color: #9f9f9f;
    position: absolute;
    right: 10px;
}

.article__date {
    width: 150px;
    color: #9f9f9f;
}

.article__title {
    color: #000000;
}

.home-news__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    background-color: #719eff;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all 0.2s;
    margin: auto;

    &:hover {
        background-color: #fff;
        color: #719eff;
        border-color: #719eff;

        & md-icon {
            transform: translateX(10px);
        }
    }

    &:active {
        background-color: #719eff33;
    }

    & md-icon {
        font-size: 1.1rem;
        transition: all 0.2s;
    }
}

.home-portfolio {
    height: 100vh;
}

.home-portfolio__title {
    width: 80%;
    margin: 20px auto;
    display: block;
    padding: 0;
    font-size: 2rem;
}

.home-portfolio__portfolio-image-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    list-style: none;
}

.home-portfolio__portfolio-image-list--image {
    width: 200px;
    height: 300px;
    border: 1px solid #faf9f9;
}

.home-portfolio__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    background-color: #719eff;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all 0.2s;
    margin: auto;

    &:hover {
        background-color: #fff;
        color: #719eff;
        border-color: #719eff;

        & md-icon {
            transform: translateX(10px);
        }
    }

    &:active {
        background-color: #719eff33;
    }

    & md-icon {
        font-size: 1.1rem;
        transition: all 0.2s;
    }
}