.portfolio {
    width: 80%;
    display: block;
    margin: auto;
    padding: 0;
}

.portfolio__list {
    list-style: none;
    padding: 0;

}

.portfolio-link {
    height: 300px;
    width: 200px;
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
    display: block;
    padding: 10px 20px;
    box-shadow: 1px 1px 5px #d1d1d1fc;
    border-radius: 10px;

    &:hover {
        background-color: #35353510;
    }

    &:active {
        background-color: #35353541;
    }
}

.portfolio-link__image {
    display: block;
    width: 100px;
    height: 200px;
}

.portfolio-link__content {
    width: 80%;
    margin: auto;
    display: block;
}

.portfolio-link__content--title {}