.search-page-form {
    position: relative;
    height: fit-content;
    width: fit-content;
    box-shadow: 1px 1px 5px 1px #dfdfdf;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .search-window__form--input {
        width: 100%;
    }

    & .search-window__form--submit {
        padding: 0;
        margin: 0;
    }
}